.navbar-brand h1 {
  color: #000;
}
.top-nav-collapse {
  background-color: #90EE90;
}
.navbar-custom.top-nav-collapse ul.nav li a {
    color: #000;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    margin-top: 20px;
}
.judul{
  color: #000;
}
h2,h1,p,h3,h4
{
  color: #000;
}
.intro .slogan h2{
  color: #000;
}
.baca
{
  margin-top: 70px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: justify;
}
.edit{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 140px;
}
.koran{
-moz-column-count:3;
-webkit-column-count:3;
column-count:3;

-moz-column-gap:40px;
-webkit-column-gap:40px;
column-gap:40px;
}
